@import 'tailwindcss';

.btn-primario {
  background-color: greenyellow;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
}

.btn-secundario {
  background-color: red;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
}

.btn-desativado {
  background-color: grey;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
}

.card-um {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
  margin: 20px;
  border: 2px solid #d3d3d3;
  border-radius: 15px;
}

.card-dois {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
  margin: 20px;
  border: 2px solid #d3d3d3;
  border-radius: 15px;
}

.card-tres {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
  margin: 20px;
  border: 2px solid #d3d3d3;
  border-radius: 15px;
}

img {
  position: relative;
  right: -10px;
  top: 5px;
  width: 40%;
  border-radius: 50px;
}

h1 {
  position: relative;
  right: -110px;
  top: -60px;
  font-size: 30px;
}

p {
  position: relative;
  right: -30px;
  top: -60px;
}

button {
  width: 50%;
  position: relative;
  top: -10px;
  right: -50px;
}