h1 {
  color: rgb(238, 0, 48);
  background-color: black;
  font-size: 48px;
  text-align: center;
}

h2{
  text-align: center;
  color: rgb(238, 0, 48);
  background-color: black;
}

h3{
  text-align: center;
}

p{
  text-align: center;
}

img {
  width: 700px;
  display: block;
  margin: 0 auto;
  background-color: black;
}