.carrinho {
    padding: 10px;
    width: fit-content;
    position: relative;
    margin: 20px;
}

.absolute {
    background-color: rgb(98, 59, 251);
    padding: 1px 5px;
    position: absolute;
    top: 8px;
    right: -3px;
    border-radius: 50%;
}